#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define U_TAPPING_TERM 200

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors = <&zip_xy_scaler 1 2>, <&zip_temp_layer 4 400>;

        // Switch to auto-mouse temp layer, decrease sensitivity

        scroll {
            layers = <5>; // SCROLL
            input-processors =
                <&zip_xy_scaler 1 5>,
                <&zip_xy_to_scroll_mapper>,
                <&zip_scroll_transform (INPUT_TRANSFORM_Y_INVERT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ParaLeft {
            bindings = <&kp LS(N8)>;
            key-positions = <16 14>;
        };

        ParaRight {
            bindings = <&kp LS(N9)>;
            key-positions = <19 21>;
        };

        BrakLeft {
            bindings = <&kp RBKT>;
            key-positions = <14 15 16>;
        };

        BrakRight {
            bindings = <&kp BSLH>;
            key-positions = <19 20 21>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <19 20>;
        };

        underbar {
            bindings = <&kp LS(INT1)>;
            key-positions = <32 31>;
        };

        henkan {
            bindings = <&kp INTERNATIONAL_4>;
            key-positions = <38 39>;
        };

        space {
            bindings = <&kp LS(SPACE)>;
            key-positions = <37 40>;
        };

        lang2 {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <40 19>;
        };

        lang1 {
            bindings = <&kp LANGUAGE_1>;
            key-positions = <40 20>;
        };

        plus {
            bindings = <&kp LS(SEMI)>;
            key-positions = <8 7>;
        };

        asta {
            bindings = <&kp LS(SQT)>;
            key-positions = <4 3>;
        };

        eq {
            bindings = <&kp LS(MINUS)>;
            key-positions = <4 3 2>;
        };

        q {
            bindings = <&kp LS(FSLH)>;
            key-positions = <20 21>;
        };

        leftctrl {
            bindings = <&kp LCTRL>;
            key-positions = <13 14>;
        };

        rightctrl {
            bindings = <&kp RCTRL>;
            key-positions = <21 22>;
        };

        leftclick {
            bindings = <&mkp MB1>;
            key-positions = <32 33>;
        };

        rightclick {
            bindings = <&mkp MB2>;
            key-positions = <33 34>;
        };
    };

    behaviors {
        u_mt: u_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "u_mt";
            #binding-cells = <2>;
            tapping_term_ms = <U_TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        u_lt: u_lt {
            compatible = "zmk,behavior-hold-tap";
            label = "u_lt";
            #binding-cells = <2>;
            tapping_term_ms = <U_TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

        Shift_Enter: Shift_Enter {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_ENTER";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <40>;
            tapping-term-ms = <100>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp TAB       &kp Q        &kp W    &kp E                     &kp R        &kp T               &kp Y                           &kp U      &kp I      &kp O    &kp P            &kp MINUS
&kp LCTRL     &kp A        &lt 2 S  &lt 3 D                   &kp F        &kp G               &kp H                           &kp J      &kp K      &kp L    &kp ENTER        &kp DEL
&lt 5 ESCAPE  &mt LSHFT Z  &kp X    &kp C                     &kp V        &kp B               &kp N                           &kp M      &kp COMMA  &kp DOT  &mt RSHIFT FSLH  &lt 5 LS(BACKSPACE)
                                    &mt LSHFT LS(LANGUAGE_5)  &lt 1 SPACE  &lt 2 LANGUAGE_2    &mt INTERNATIONAL_4 LANGUAGE_1  &kp SPACE
            >;
        };

        NAV {
            bindings = <
&trans  &kp LC(Z)  &kp N8  &kp N9  &kp N9  &kp N0                 &kp PAGE_UP      &kp HOME        &kp UP_ARROW    &kp END          &kp PAGE_DOWN  &kp DEL
&trans  &kp TAB    &kp N4  &kp N5  &kp N6  &kp K_APP              &kp BACKSPACE    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans         &trans
&trans  &kp LSHFT  &kp N1  &kp N2  &kp N3  &mt LA(LC(V)) LC(V)    &mt LC(X) LC(C)  &kp F7          &kp F2          &kp F10          &kp RSHFT      &trans
                           &trans  &trans  &trans                 &kp RALT         &kp LGUI
            >;
        };

        SYMNUM {
            bindings = <
&none   &none      &none  &kp C_VOL_UP  &kp C_VOL_DN  &kp C_PP     &kp SEMI  &kp APOS      &kp AMPS    &kp LS(N2)  &kp HASH   &kp DEL
&none   &none      &none  &kp LS(N8)    &kp LS(N9)    &kp K_APP    &kp BSPC  &kp LS(FSLH)  &kp LS(N6)  &kp LS(N4)  &trans     &trans
&trans  &kp LSHFT  &none  &kp RBKT      &kp BSLH      &trans       &kp LBKT  &kp EXCL      &kp PRCNT   &kp INT3    &kp RSHFT  &trans
                          &trans        &trans        &trans       &trans    &trans
            >;
        };

        FUN {
            bindings = <
&none   &kp LC(Z)  &none          &none          &none              &trans       &kp F11        &kp F7         &kp F8  &kp F9  &kp F10    &none
&none   &none      &kp LC(PG_UP)  &none          &kp LC(PAGE_DOWN)  &kp K_APP    &kp BSPC       &kp F4         &kp F5  &kp F6  &trans     &trans
&trans  &kp LSHFT  &kp LS(F11)    &none          &kp LC(N1)         &none        &kp F12        &kp F1         &kp F2  &kp F3  &kp RSHFT  &trans
                                  &kp LC(MINUS)  &kp LS(LC(SEMI))   &trans       &kp LS(SPACE)  &kp LC(SPACE)
            >;
        };

        AUTO-MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans  &trans
                        &none   &none   &mkp MB1    &trans  &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
            >;
        };
    };
};
